body{
    color: white;
    background-color: black;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 35px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.backgroundImage{
    flex: 1;
}

main {
    display: flex;
    justify-content: space-between;
}

.infoSide{
    background-color: black;
    flex: 1;
}

.divcenter{
    display: flex;
    justify-content: center;
}

button {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    font-size: 17px;
    padding: 1em 2.7em;
    font-weight: 500;
    background: #1f2937;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
    cursor: pointer;
}
  
.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.3)
    );
}
  
.label {
    position: relative;
    top: -1px;
}
  
.transition {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    background-color: rgba(16, 185, 129, 0.6);
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
  
button:hover .transition {
    width: 14em;
    height: 14em;
  }
  
button:active {
    transform: scale(0.97);
  }
  
.filmBox{
    border: 2px solid white;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.filmBoxImg{
    max-width: 200px;
    max-height: 400px;
}

.filmBoxText{
    border-top: 2px solid white;
    margin-top: 1px;
    display: flex;
    justify-content: center;
    
}

.txtFooter{
    display: flex;
    justify-content: center;
}

footer{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.imgFooter{
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

footer img{
    height: auto;
    width: auto;
    max-height: 50px;
    max-width: 400px;
}